fieldset{
  width: 200px;
}

.navbar{
  background-color: brown;
  padding: 10px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}